ul{
    list-style-type: none;
    margin: -7px;
    padding: 0;
}
li{
    float: right;
}
li a{
    display: block;
    padding: 16px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    color: #1e2b7b;
    transition: background-color .2s, color .2s;
    height: 20px;
}
ul .home-bttn{
    background-color: #f8bd0e;
}
li a:hover{
    background-color: #1e2b7b;
    color: #f8bd0e;
}
li a:active{
    background-color: #f8bd0e;
    color: #1e2b7b;
}
ul img{
    height: 60px;
    width: 180px;
    padding: 4px 3px;
    transition: opacity 0.7s;
}
ul img:hover{
    opacity: 0.8;
}